.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  
  .bg {
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 400px;
    background-color: white;

    .links {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      a {
        transition: 1s;
        font-size: 40px;
      }
      a:hover {
        scale: 1.1;
        font-weight: 600;
      }
    }
  }

  button {
    width: 50px;
    z-index: 5;
    height: 50px;
    position: fixed;
    border-radius: 50%;
    top: 25px;
    left: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
